.site-footer {
  background-color: #1e222e;
  margin-top: 100px;
  padding: 10px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
        display: inline-block;
      a {
        margin: 0px 20px;
        font-size: 25px;
        color: $white;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: #4d9be2;
        }
        &.strava:hover {
          color: #fc4c02;
        }
        &.google:hover {
          color: #e44134;
        }
      }
    }
  }
}
